-- ===========
-- FAULTS.SLIM
-- ===========
-- ------
-- SYNTAX
-- ------
-- system implementation <SLIM FUNCTION NAME>.others
-- properties
--   FaultInjections => (
--     [
--       Description => "<DESCRIPTION>";
--       Fault_Model => <FAULT MODEL>;
--       Fault_Dynamics => <(PERMANENT|TRANSIENT)>;
--       Probability => <PROBABILITY>;
--       Input => <RI/PI PARAMETER NAME>;
--       Varout => <RI/PI PARAMETER NAME>;
--       ParameterList => ([Name=>Term; Value=>"<VALUE>"]);
--     ],
--     ...
--   );
-- end <SLIM FUNCTION NAME>.others;
-- -------
-- EXAMPLE
-- -------
-- system implementation Generator.others
-- properties
--   FaultInjections => (
--     [
--       Description => "Dead";
--       Fault_Model => StuckAt;
--       Fault_Dynamics => Permanent;
--       Probability => 1.e-7;
--       Input => voltage_out.voltage;
--       Varout => voltage_out.voltage;
--       ParameterList => ([Name=>Term; Value=>"0"]);
--     ]
--   );
-- end Generator.others;
-- ----------------------
-- DUMP OF INTERFACE VIEW
-- ----------------------
---- PI (Sporadic): SBKGTC
------ PARAM_IN (RawTC): SBKGTC.packet


---- RI (Protected): ExecBKGTC
------ PARAM_IN (RawTC): ExecBKGTC.packet


---- PI (Sporadic): SHKFDIRTC
------ PARAM_IN (RawTC): SHKFDIRTC.packet



---- RI (Protected): DoHousekeeping

---- RI (Protected): ExecHKFDIRTC
------ PARAM_IN (RawTC): ExecHKFDIRTC.packet

---- RI (Sporadic): SEvAction


-- Function (CPP): Legacy
---- PI (Protected): DoHousekeeping

---- PI (Protected): ExecBKGTC
------ PARAM_IN (RawTC): ExecBKGTC.packet

---- PI (Protected): ExecHKFDIRTC
------ PARAM_IN (RawTC): ExecHKFDIRTC.packet

---- PI (Protected): HandleTC
------ PARAM_OUT (FwdCommand): HandleTC.route
------ PARAM_OUT (RawTC): HandleTC.packet

---- PI (Protected): Init

---- PI (Protected): NewEvAction
------ PARAM_OUT (RxTC): NewEvAction.accepted

---- PI (Protected): NewRxTC
------ PARAM_IN (Telecommand): NewRxTC.tc
------ PARAM_OUT (RxTC): NewRxTC.accepted

---- PI (Protected): PollTC
------ PARAM_OUT (RxTC): PollTC.accepted

---- PI (Protected): Reboot



---- PI (Sporadic): SEvAction



---- RI (Protected): HandleTC
------ PARAM_OUT (FwdCommand): HandleTC.route
------ PARAM_OUT (RawTC): HandleTC.packet

---- RI (Protected): Init

---- RI (Protected): NewEvAction
------ PARAM_OUT (RxTC): NewEvAction.accepted

---- RI (Protected): NewRxTC
------ PARAM_IN (Telecommand): NewRxTC.tc
------ PARAM_OUT (RxTC): NewRxTC.accepted

---- RI (Protected): PollTC
------ PARAM_OUT (RxTC): PollTC.accepted

---- RI (Protected): Reboot

---- RI (Sporadic): SBKGTC
------ PARAM_IN (RawTC): SBKGTC.packet

---- RI (Sporadic): SHKFDIRTC
------ PARAM_IN (RawTC): SHKFDIRTC.packet



--
